.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.countryCard {
    background-color: #333;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

